# Archivos de Git
.git
.gitignore

# Archivos de sistema
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg


# Volúmenes y datos
postgres_data

# Archivos locales no necesarios en el contenedor
*.log
