# Entornos virtuales
venv/


# Archivos de compilación / caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.sqlite3

# Logs
*.log
*.pot

# Archivos temporales de sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.vscode/
.idea/


# Django
backend/staticfiles/
backend/media/

**/migrations/*.py
!**/migrations/__init__.py

# docker
postgres_data/