Django==4.2.10
djangorestframework==3.16.0
django-cors-headers==4.7.0
psycopg[binary]==3.1.18
drf-spectacular[sidecar]==0.28.0
python-dotenv==1.1.0
python-dateutil==2.9.0.post0

requests==2.31.0
watchfiles==0.24.0
django-filter==23.5
watchdog==4.0.2
Pillow==10.4.0
geopy==2.3.0

pandas
openpyxl
xlrd==1.2.0